.box {
    margin-left: 600px;
    width: 12em;
    margin-top: 200px;
    font-size: 40px;
    align-content: center;
}
nav {
    display: flex;
    justify-content: flex-end;
}
button{
    font-size: 19px;
    height: 40px;
    width: 10%;
    border-radius: 10px;
    outline: none;
}
p {
    text-align: center;
    margin-left: 150px;
}

input,select {
    font-size: 19px;
    width: 700px;
    margin-top: 20px;
    border-radius: 15px;
    height: 40px;
    align-content: center;
    border: none;
    box-shadow: 1px 1px 1px 1px  grey;
    outline: none;
}
#acceptTerms{
    box-shadow: none;
    outline: none;
}




